<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Jade Templating Example
		link(href="styles/style.css", rel='stylesheet')
	body
		h1 Quantity Queries
		block content
		script(src="//fb.me/react-0.13.3.min.js")
		script(src="scripts/main.min.js")

	
