<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Jade Templating Example
		link(href="styles/style.css", rel='stylesheet')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
	body
		header.top
			.wrapper
				h1 Quantity Queries WTF?
				p Selecting elements using pure CSS
		block content
		script(src="scripts/vendor/react.min.js")
		script(src="scripts/main.min.js")
		script(src='//use.typekit.net/pvx0vef.js')
		script.
				try{Typekit.load();}catch(e){}


	
